{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Join Team</h1>
		</div>
	</div>
	<div class="container mx-auto">
		<div class="row ">
			<div class="col-md-6 mx-auto bg-join">
				{% include "components/errors.html" %}

				{% with form = Forms.teams.TeamJoinForm() %}
				<form method="POST">
					<div class="form-group input-border">
						{{ form.name.label }}
						{{ form.name(class="form-control") }}
					</div>
					<div class="form-group input-border">
						{{ form.password.label }}
						{{ form.password(class="form-control") }}
					</div>
					<div class="row pt-3">
						<div class="d-flex">
							{{ form.submit(class="submit-btn btn d-flex") }}
						</div>
					</div>
					{{ form.nonce() }}
				</form>
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}
