@import "~bootstrap/scss/bootstrap.scss";
@import "~highlight.js/styles/github.css";
@import "includes/jumbotron.css";
@import "includes/sticky-footer.css";
@import "includes/award-icons.scss";
@import "includes/flag-icons.scss";
@import "includes/utils/opacity.scss";
@import "includes/utils/min-height.scss";
// import font Chakra Petch
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap');

body{
  background-repeat: no-repeat;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.753)),
  url("../img/background.svg");
  background-size: cover;
  background-position: center center;
}

html,
body,
.container {
  // font-family: "Lato", "LatoOffline", sans-serif;
  font-family: 'Chakra Petch', sans-serif;
}

.img-bg{

  // transform: translateX(-10%);
  transform: translateY(25%);

  width: 100%;
  height: 50vh;
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/home-page-logo.svg");
}


h1,
h2 {
  font-family: "Raleway", "RalewayOffline", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

table > thead > tr > td {
  /* Remove border line from thead of all tables */
  /* It can overlap with other element styles */
  border-top: none !important;
}

blockquote {
  border-left: 4px solid $secondary;
  padding-left: 15px;
}

.table thead th {
  white-space: nowrap;
}

.fa-spin.spinner {
  text-align: center;
  opacity: 0.5;
}

.spinner-error {
  padding-top: 20vh;
  text-align: center;
  opacity: 0.5;
}

.jumbotron {
  border-radius: 0;
  text-align: center;
}

.form-control {
  color: #fff !important;
}

.form-control:focus {
  transition: background-color 0.3s, border-color 0.3s;
}

.input-filled-valid {
  background-color: transparent !important;
  border-color: #a3d39c;
  box-shadow: 0 0 0 0.1rem #a3d39c;
  transition: background-color 0.3s, border-color 0.3s;
}

.input-filled-invalid {
  background-color: transparent !important;
  border-color: #d46767;
  box-shadow: 0 0 0 0.1rem #d46767;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-outlined.btn-theme {
  background: none;
  color: #545454;
  border-color: #545454;
  border: 3px solid;
}

.btn-outlined {
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn {
  letter-spacing: 1px;
  text-decoration: none;
  -moz-user-select: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 20px;
}

.btn-info {
  background-color: #5b7290 !important;
  border-color: #5b7290 !important;
}

.badge-info {
  background-color: #5b7290 !important;
}

.alert {
  position: absolute !important;
  border-radius: 0 !important;
  padding: 0.8em !important;
}
.alert span{
  margin-right: 10px !important;
  margin-top: 1px;
}

.btn-fa {
  cursor: pointer;
}

.close {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}

.modal-content {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.fa-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.badge-notification {
  vertical-align: top;
  margin-left: -1.5em;
  font-size: 50%;
}


// custom css----------------


.navbar-dark .navbar-nav a.nav-link {
  color: #ece5e5; 
  font-weight: 500;
  font-size: 20px;
}
.form-control:focus, .input-filled-valid {
  background-color: rgba(80,1,4,.86);
  border: 1px solid red;
  box-shadow: unset;
}
.container .pad .nav-item{
  padding: 0 20px;
  a {font-weight: bold;}
}


.black-font {
  color: #010101;

}

.text-muted{
  color: #fff !important;
  // font-size: 12px;
  font-weight: 600;
}

.register-login{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  color: #010101 !important;
  text-align: center;
  width: 156px;
  height: 56px;
  margin: 10px;
  clip-path: polygon(0% 20%, 10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%);
  // position: relative;
  box-shadow:  10px 5px 5px red !important;
}
 
.submit-btn1{
  background-color: #D9D9D9 !important;
  color: #010101 !important;
  text-align: center !important;
  clip-path: polygon(0% 20%, 10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%) !important;
}






#base-navbars{
  // display: flex;
  // justify-content: space-between;
}

@media (min-width: 1200px) {
  .container {
    max-width: 95% !important;
  }
}

.submit-btn {
  background: black;
  color: white;
  width: 100px;
  height: 50px;
  // clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%);
}
.nav-link:hover{
  color: red !important;
}

.nav-link span:hover {
  color: red !important;
}

.j-center {
  justify-content: center;
}


.row-reset {
  margin-top: 0 !important;
}


.bg-red{
  background-color: red;

}

.br0 {
  border: none;
}