/* Move down content because we have a fixed navbar that is 3.5rem tall */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap');


main {
  padding-top: 3.5rem;
}

.container{
  /* transform: translateY(50%); */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  font-family: 'Chakra Petch', sans-serif !important;
}
.container.mx-auto{
  max-width: 1024px !important;
  width: 90%;
}
 .row{
  margin-top: 10%;
}
/*.row-bg{
  display: flex !important;
  align-items: center !important;
  background-color: #ed1c2344 !important;
  backdrop-filter: blur(5px);
  width: 90%;
  height: 500px;
  clip-path: polygon(0% 5%, 3% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
} */

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4%;
  margin-top: 70px;
}

.col-md-6 a{
  color: #fff;
}



.col-md-12.mask-bg{
  background-color: #6A6B6E;
  clip-path: polygon(0 15%,1% 0, 99% 0,100% 10%,100% 100%,100% 100%,0 100%);
  padding: 0;
}

@media  screen and (min-width: 769px) {
  .abs {
    background-color: #6a6b6e;
  }
}
@media  screen and (max-width: 700px) {
  .abs {
    display: none;
 }
}

#q::placeholder {
  color: #fff;
  
}
/* //<path d="M 1 0 L 10 0 L 10 10 L 0 10 L 0 1 L 1 0" stroke="red" width=2/> */

#q{
  background-color: transparent;
  border: none;
  /* clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 15%, 96% 0%); */
  color: #ffffff !important;
  width: 100% !important;

}

.rg-btn{
  clip-path: polygon(0% 20%, 5% 0%, 100% 0%, 100% 80%, 95% 100%, 0% 100%);
  /* width: 420px; */
  /* height: 50px; */
  /* margin-bottom: -10px !important; */
  background-color: #D9D9D9 !important;
  color: #010101 !important;
  border: none !important;
  width: 100%;
}
.row .pt-3 {
  justify-content: center !important;
}
form div.form-group {
  padding: 0;
}

.row-bg form{
  /* width: 200%; */
}

.form-group{
  font-family: 'Chakra Petch', sans-serif !important;
  color: #fff;
}
.form-group input{
  background-color: #500104db;
  border: 1px solid red;
  /* width: 90% !important; */
}
.form-group label{
  color: #ED1C24;
  font-size: 16px;
  font-weight: 600;
}

.offset-md-3{
  /* width: 500px !important; */
  margin-left: 5% !important;
  margin-right: -95% !important;
  /* padding: 0 !important; */
}

.pad-h1{
  margin-bottom: 50px;
}
.form-group h1{
  font-family: 'Chakra Petch', sans-serif !important;
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  margin-top: -60px;
  margin-bottom: 50px;
}

 .row-bg2{
  display: flex !important;
  align-items: center !important;
  background-color: #ed1c2344 !important;
  backdrop-filter: blur(5px);
  max-width: 90%;
  height: 700px;
  width: 800px;
  position: relative;
  clip-path: polygon(0% 5%, 3% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
} 




.px-auto{
  padding: auto;
}
.row-bg2 form{
  width: 90%;
}
/* Rgister --- style */

.jumbotron {
  background-color: transparent !important;
}

.jumbotron .container h1{
  font-family: 'Chakra Petch', sans-serif !important;
  color: #D3D3D3;
  font-weight: 700;
  font-size: 80px;
}

#field {
  text-align: center;
  color: #010101;
  /* clip-path: polygon(100% 0%,100% 25%,98% 30%,98% 70%,100% 75%,100% 100%,0% 100%,0% 0%); */
  background: #D3D3D3 !important;
}

.container-user-center {
  margin-left: 150px !important;
}

.input-filled-valid {
  box-shadow: none !important;
  border: none !important;
}

.w-60 {
  width: 60% !important;
}

.rltv{
  position: relative;
}
.abs{
  width: 4px;
  height: 80%;
  background-color: #6a6b6e;
  position: absolute;
  right: -1px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

/* scc  users table */

.table td{
  border: none !important;
}

.users-bg {
  margin: 0;
  background-color: #ed1c2344 !important;
  backdrop-filter: blur(5px);
}

table b {
  color: white;
}
tbody {
  margin: 5% 0;
}
tbody  tr  {
  padding: 10px;
  background-color: #ed1c2344 !important;
  backdrop-filter: blur(5px);
  border: 1px solid rgb(255, 0, 0) !important;
}
table {
  border-collapse: separate !important;
  border-spacing: 0 10px;
}

tbody td a {
  color: white;
}

tbody td span {
  color: white;
}
.forbid h1{
  color: red;
  font-family: 'Chakra Petch', sans-serif;
}
.forbid h2{
  font-family: 'Chakra Petch', sans-serif;
  color: white;
}

.polygon .btn{
  opacity: 1;
  
  height: 150px;
  min-width: 100px;

  /* max-width: 250px; */
  font-size: 20px;
  background-color: #EF333ABF;

  clip-path: polygon(
    5% 0%,
    60% 0%,
    62% 2%,
    80% 2%,
    82% 0%,
    95% 0%,
    100% 5%,
    100% 95%,
    95% 100%,
    80% 100%,
    78% 97%,
    25% 97%,
    23% 100%,
    5% 100%,
    0% 95%,
    0% 50%,
    2% 47%,
    2% 23%,
    0% 20%,
    0% 5%,
    5% 0%
    ) !important;
}

.polygon1{
  opacity: 1;
  font-size: 20px;
  background-color: rgba(237,28,35,.27) !important;
  backdrop-filter: blur(5px); 
  color: #fff;
  clip-path: polygon(
      5% 0%,
      60% 0%,
      62% 2%,
      80% 2%,
      82% 0%,
      95% 0%,
      100% 5%,
      100% 95%,
      95% 100%,
      80% 100%,
      78% 97%,
      25% 97%,
      23% 100%,
      5% 100%,
      0% 95%,
      0% 50%,
      2% 47%,
      2% 23%,
      0% 20%,
      0% 5%,
      5% 0%
      ) !important;
      position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  fill: transparent;
  width: 500px;
  height: 500px;
  }









.close{
  color: red !important;
  text-shadow: none !important;
}

.solved-challenge.btn {
  background-color: #A32328BF !important;
}

.category-header h3 {
  color: #fff;

}
.w-1500 {
  max-width: 1500px;
}

.search-result {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  text-align: center;

}

.nav-link.white {
  color: red !important;
  /* background-color: red !important; */
  border: none !important;
}

.nav-link.active {
  color: white !important;
  background-color: red !important;
  /* border: none !important; */
  border-bottom: 1px solid red !important;
} 
.nav-tabs{
  border-bottom: 1px solid red !important;
}
.form-group input::placeholder{
  color: white !important;
}

.challenge-submit {
  color: white !important;
  background-color: transparent !important;
  border: 1px solid white !important;
}

.challenge-submit:hover {
  color: black !important;
  background-color: white !important;
  border: 1px solid white !important;
}

.members-bg{
  background-color: #6A6B6E;
  clip-path: polygon(0 15%,1% 0, 99% 0,100% 10%,100% 100%,100% 100%,0 100%);
  /* padding: 0; */
  width: 100%;
}
.table{
  color: white !important;
}

/* -----------------SOS----------------- */

.alert{
  padding: .3em !important;
}

@media  screen and (max-width: 900px) {
  .svg-path {
    display: none;
 }
}

@media  screen and (max-width: 700px) {
  .svg-challenge {
    display: none;
 }
 .polygon1{
    clip-path: none !important;
    border: 1px solid red !important;
 }
}
.statistic{
  background-color: #fff;
  padding-top: 20px;
  border: 2px solid red;
}