/* Move down content because we have a fixed navbar that is 3.5rem tall */
main {
  padding-top: 3.5rem;
}

.container{
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  background-color: #ED1C2492 !important;

}
.img-bg{
  /* display: none; */
}
